@font-face {
  font-family: supermarket;
  src: url('../font/supermarket.ttf'); /* IE9 Compat Modes */
  src: url('../font/supermarket.ttf')  format('truetype'), /* Safari, Android, iOS */
}
body{
  font-family: supermarket !important;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-background {
  width: 100%;
  height: 85vh;
  background: url(../images/bg.jpg) center;
  background-size: cover;
  position: relative;
}
.home-footer {
  width: 100%;
  height: 15vh;
  background: #000;
  background-size: cover;
  position: relative;
  text-align: center;
  color: #ffffff !important;
  font-size: 20px;
  padding: 10px;
}
#parallelogram {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-right: 100vh solid transparent;
  border-top: 100vh solid #cc0000;
}
#parallelogram2 {
  position: fixed;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 100vh solid transparent;
  border-bottom: 100vh solid #0e47a0;
}
.bg-team{
  background: url(../images/bg.jpg) center;
  background-size: cover;
}
.bg-red{
  background-color: #cc0000;
}
.bg-blue{
  background-color: #0e47a0;
}
.score-box {
  position: relative;
  margin: 0 auto 0 auto;
  top: 30vh;
  width: 80px;
  height: 80px;
  background: url(../images/score-bg.png) center;
  background-size: cover;
}
.score-number1 {
  font-size: 40px;
  position: absolute;
  left: 4vh;
  top: 0.5rem;
}
.score-number2 {
  font-size: 40px;
  position: absolute;
  top: 0.5rem;
  right: 4vh;
}
.time-box {
  position: relative;
  text-align: center;
  top: 32vh;
  font-size: 13px;
  color: #fff;
}
.player-one {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60vh;
  color: #fff;
  font-size: 12px;
}
.player-two {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 60vh;
  color: #fff;
  font-size: 12px;
}
.text-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: right;
  width: 100%;
}
.red {
  color: #e76262;
}
.payer-avatar {
  width: 20vh;
  background: #fff;
  height: 20vh;
  border-radius: 50%;
  text-align: -webkit-right;
}
.payer-logo {
  width: 5vh;
  height: 5vh;
  right: 5px;
  border-radius: 50%;
  background: #000;
}
.bg-color-none {
  background: #fff0 !important;
}
.bg-profile{
  background:url(../images/Asset_24.png) center;
  background-size: cover;
  color: #fff;
}
.bg-historical{
  background:url(../images/Asset_24.png) center;
  background-size: cover;
  color: #fff;
  padding: 10px;
}
.row-h{
    height: 100vh;
    margin-right: -15px;
    margin-left: -15px;
}
.box-border-bottom{
  border-bottom: 1px solid #eeeeee; 
  padding-bottom: 7px;
}
.col-h-1,.col-h-1-5,.col-h-2,.col-h-3,.col-h-4,.col-h-5,.col-h-6,.col-h-7,.col-h-8,.col-h-9,.col-h-10,.col-h-content{
  padding: 15px;
}
.col-h-1{
  height: 10%;
}
.col-h-1-5{
  height: 12.5%;
}
.col-h-1{
  height: 10%;
}
.col-h-2{
  height: 20%;
}
.col-h-3{
  height: 30%;
}
.col-h-4{
  height: 40%;
}
.col-h-5{
  height: 50%;
}
.col-h-6{
  height: 60%;
}
.col-h-7{
  height: 70%;
}
.col-h-8{
  height: 80%;
}
.col-h-9{
  height: 90%;
}
.col-h-10{
  height: 100%;
}
.col-h-content{
  height: min-content;
}
.col-w-content{
  width: min-content;
}
.padding-top-botton-10{
  padding: 10px 0 10px 0px;
}
.color-red {
  color: #e76262;
}
.color-blue {
  color: #0e47a0;
}
.color-green {
  color: green;
}
.color-white {
  color: white;
}
.border-bottom-1{
  border-bottom: 1px solid #f3f3f3; 
}
.text-score{
  font-size: 0.5em;
  color: black;
}
.box-live-score{
  background: #f3f3f3;
}
.box-live-bg:nth-child(2n){
    background: #f3f3f3;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
