.bg {
  height: 100vh;
  background: red;
  color: #fff;
}
.box-number {
  background: #000;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  width: 100%;
  text-align: center;
  /* padding: 5px 10px 5px 10px; */
  margin: auto;
}
.amount-box label {
  width: 100%;
}
.amount-box input[type="radio"] {
  display: none;
}
/* .amount-box input[type="radio"]:checked + .box {
  color: white !important;
  background-color: #000 !important;
} */

.amount-box .active {
  color: white !important;
  background-color: #000 !important;
}

.amount-box .box {
  background-color: #fff;
  color: red;
  display: inline-block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-weight: 900;
  padding: 5px 10px 5px 10px;
}
.margin-top-10 {
  margin-top: 10px;
}
.total-box {
  border: 1px solid #fff;
  padding: 5px;
}
.btn-event {
  text-align: center;
  cursor: pointer;
  background: #fff;
  color: #000;
  font-weight: bold;
  padding: 5px;
}
.btn-event:active {
  background: #a2a2a2;
}
.btn-confirm {
  text-align: center;
  padding: 5px;
  background: #fff;
  font-size: 20px;
  color: red;
}
.btn-cancel {
  text-align: center;
  padding: 5px;
  background: #383838;
  font-size: 20px;
  color: red;
}
