.bg-confirm {
  height: 100vh;
  background: black;
  color: #fff;
}
.text-size-20{
  font-size: 20px;
}
.text-size-30{
  font-size: 20px;
}
.text-size-30-b{
  font-size: 20px;
  font-weight: bold;
}
.box-progress{
  height: 35px;
  padding: 5px;
}
.margin-bottom-10{
  margin-bottom: 10px
}
.box-number {
  background: #000;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 5px 10px 5px 10px;
  margin: auto;
}
.amount-box label {
  width: 100%;
}
.amount-box input[type="radio"] {
  display: none;
}
.amount-box .active {
  color: white !important;
  background-color: #000 !important;
}

.amount-box .box {
  background-color: #fff;
  color: red;
  display: inline-block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-weight: 900;
  padding: 5px 10px 5px 10px;
}
.margin-top-10 {
  margin-top: 10px;
}
.total-box {
  border: 1px solid #fff;
  padding: 5px;
}
.btn-event {
  text-align: center;
  cursor: pointer;
  background: #fff;
  color: #000;
  font-weight: bold;
  padding: 5px;
}
.btn-event:active {
  background: #a2a2a2;
}
.btn-confirm {
  text-align: center;
  padding: 5px;
  background: #fff;
  font-size: 20px;
  color: red;
}
.btn-cancel {
  text-align: center;
  padding: 5px;
  background: #383838;
  font-size: 20px;
  color: red;
}
.div-box-x{
  width: 55px;
  height: 55px;
  margin: 10px auto 0 auto;
  color: #000;
  background: #FDD601;
  font-size: 30px;
  border-radius: 50%;
  font-weight: bold;
  padding: 4px;
}
.btn-close{
  text-align: center;
    padding: 5px;
    background: #000;
    font-size: 20px;
    color: #FFF;
}